

}
.h1 {
  font-family: Tahoma, Arial, Verdana, sans-serif;

    }
.h2 {
  font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 40px;
}
  .bg {
   background: url(http://fullhdwallpapers.ru/image/creative/11472/kovyor-samolyot.jpg);
   background-attachment:fixed;
  }
.div {
    height:  600px;
    width: 400px;
    background: #F2EFE6;
    border: 1px solid #B25538;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
   }
   .div1 {
       height:  50px;
       width: 250px;
       background: #F2EFE6;
       border: 1px solid #B25538;
       margin-top:-680px;
       margin-left: auto;
       margin-right: auto;
      }
.ph {
 margin-left: 240px;
 margin-top: 270px;
}
.div2 {
  height:  50px;
  width: 250px;
  background: #F2EFE6;
  border: 1px solid #B25538;
  margin-top:0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}
.btn {
  radius: 25px;
  background-color: white;
}
